html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    line-height: 1.4;
    background: #FFA17F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom , rgba(61, 61, 61, 0.89), #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3d3d3d, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
    height: 100%;
    display: table;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
}
.menu {
    font-weight: 100;
    background: #efefef;
    width: 150px;
    height: 100%;
    padding-left: 50px;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -130px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #222;
}
.menu:hover, .menu:focus {
    transform: translate3d(-130px, 0, 0);
    animation-timing-function: 1s ease-in;
}
.menu .title {
    top: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    left: 10px;
    font-weight: 800;
    font-size: 15px;
}
.menu .nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
}
.menu .nav li {
    padding-bottom: 30px;
    list-style-type: none;
}
.menu .nav li a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.menu .nav li a:hover {
    color: #aaa;
}

.intro {
    position: relative;
    min-height: 100%;
    height: 100%;
    float: left;
    width: 100%;
    padding: 15px 0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #15100c;
    color: white;
    text-align: center;
    padding: 20px 0 10px 0;
}
.footer h3 {
    border-bottom: 2px solid #211c18;
    padding-bottom: 10px;
    margin: 20px 100px 20px 100px;
}
